.custom-body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-body > button {
  width: 100px;
  height: 50px;
}

.custom-modal-header,
.custom-modal-footer {
  font-size: 30px;
  text-align: center;
  padding: 10px;
}

.custom-modal-body {
  text-align: center;
  padding: 10px;
}
